---
import BaseLayout from "./BaseLayout.astro";
import Badge from "../components/Badge.astro";
const { frontmatter } = Astro.props;
import "../styles/global.css";

var date = new Date(frontmatter.pubDate);

const formatted = `${date.getMonth()}/${date.getDay()}/${date.getFullYear()}`;
---

<style>
  .article-container {
    margin: 0 auto;
    width: min(100vh - 2em, 80ch);
  }
  img {
    border-radius: 2em;
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
  }

  .tags-container {
    padding: 2em;
    border-radius: 0.5em;
    background: var(--accent);
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .author span {
    font-weight: 900;
    color: var(--primary);
  }
</style>
<BaseLayout pageTitle={frontmatter.title}>
  <p>{formatted}</p>
  <img
    transition:name={frontmatter.slug}
    src={frontmatter.image.url}
    alt={frontmatter.image.alt}
  />
  <p class="author">
    Written by <span>{frontmatter.author}</span>
  </p>
  <slot />
  <h2>Tags</h2>
  <div class="tags-container">
    {
      frontmatter.tags.map((tag) => {
        return <Badge name={tag} />;
      })
    }
  </div>
</BaseLayout>
